@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Comic Sans MS, monospace;
    text-decoration: none;
}

:root{
    --cor1: rgb(94, 11, 94);
    --cor2: rgb(45, 167, 106);
}

body{
    background-image: linear-gradient(to bottom, var(--cor1) 3%, var(--cor2));
    height: 100vh;
    padding-top: 20px;
}

header{
    background-color: rgba(231, 229, 229, 0.274);
    max-width: 600px;
    margin: auto;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    background-color: rgba(231, 229, 229, 0.274);
    max-width: 600px;
    margin: 15px auto;
    border-radius: 20px;
    padding: 20px;
}
/*Navegation*/

.p-op{
    text-align: center;
    margin: 5px 0 13px 0;
    font-size: 1.3em;
    font-weight: bold;
}
.op{
    display: flex;
    justify-content: space-around;
    padding: 8px;
    margin: 5px;
    border: 1px solid var(--cor1);
    background-color: rgba(94, 11, 94, 0.856);
    border-radius: 3px 15px 15px 15px;
}

.op a{
    display: flex;
    justify-content: space-between;
    color: black;
    min-width: 60px;
    background-color: var(--cor2);
    font-weight: 600;
    padding: 7px 8px;
    border-radius: 8px;
    transition: 0.4s;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.384);

    &:hover{
        transform: scale(1.25);
        color: white;
        box-shadow: none;
    }
}

i{
    margin: 0px 3px;
    transition: .3s;
}

.op a:hover .cjump{
    transform: rotateZ(90deg);
    animation: none;
}
.cjump{
    color: var(--cor1);
    animation: jumping .8s ease-in-out infinite alternate;
}

/* Input */
.data{
    display: flex;
    padding: 0px 15px;
    margin: 30px 0;
}

input{
    margin-left: 15px;
    border-radius: 5px;
    border: none;
    padding: 3px;
    color: var(--cor2);
    font-weight: bold;
    background-color: aliceblue;
}

#saida{
    margin-left: 34px;
    background-color: aliceblue;
    padding: 1px 0 1px 3px;
    color: var(--cor2);
    font-weight: bold;
    min-width: 200px;;
    border-radius: 5px;
}

.p-txt{
    font-size: 1.2em;
}

/* Selected */
.sec{
    background-color: red;
    box-shadow: none;
    transform: scale(1.25);
}

.sec .cjump{
    transform: rotateZ(90deg);
}

/*Animation */
@keyframes jumping{
    0%, 100% {
        transform: translateY(2px);
        
    }
    to{
        
        transform: translateY(-3px);
    }
}